body{
    margin: 0;
    padding: 0;
    background: url(poltek.jpg);
    background-size: cover;
    font-family: sans-serif;
}

.forgotBox{
        /* background-color: transparent; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 370px;
        height: 730px;
        padding: 70px;
    border-radius: 10px;
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
}

.user{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: calc(-100px/2);
    left: calc(50% - 50px);
}

h3{
    margin: 0;
    padding: 10px 0 20px;
    color: #efed40;
    text-align: center;
}

.forgotBox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
}

.forgotBox input{
    width: 100%;
    margin-bottom: 20px;
}


.forgotBox input[id="jenis_kelamin"]{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 20px;
    color: #fff;
    font-size: 16px;
}

::placeholder{
    color: rgba(255,255,255,.5);
}

.forgotBox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: #000fff;
    cursor: pointer;
    border-radius: 20px;
}

.forgotBox input[type="submit"]:hover{
    background: #efed40;
    color: #262626;
}

.forgotBox a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}